In [4]:
import pandas as pd
pd.__version__

'1.4.4'

In [18]:
import pyarrow.parquet as pq
df = pq.read_table(source="yellow_tripdata_2022-01.parquet").to_pandas()

{'_is_copy': None, '_mgr': BlockManager
Items: Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'airport_fee'],
      dtype='object')
Axis 1: RangeIndex(start=0, stop=2463931, step=1)
NumericBlock: [0 7 8 9], 4 x 2463931, dtype: int64
DatetimeLikeBlock: slice(1, 3, 1), 2 x 2463931, dtype: datetime64[ns]
NumericBlock: [ 3  4  5 10 11 12 13 14 15 16 17 18], 12 x 2463931, dtype: float64
ObjectBlock: slice(6, 7, 1), 1 x 2463931, dtype: object, '_item_cache': {}, '_attrs': {}, '_flags': <Flags(allows_duplicate_labels=True)>}

In [28]:
for i in df.items():
    print(i)

('VendorID', 0          1
1          1
2          2
3          2
4          2
          ..
2463926    2
2463927    2
2463928    2
2463929    2
2463930    2
Name: VendorID, Length: 2463931, dtype: int64)
('tpep_pickup_datetime', 0         2022-01-01 00:35:40
1         2022-01-01 00:33:43
2         2022-01-01 00:53:21
3         2022-01-01 00:25:21
4         2022-01-01 00:36:48
                  ...
2463926   2022-01-31 23:36:53
2463927   2022-01-31 23:44:22
2463928   2022-01-31 23:39:00
2463929   2022-01-31 23:36:42
2463930   2022-01-31 23:46:00
Name: tpep_pickup_datetime, Length: 2463931, dtype: datetime64[ns])
('tpep_dropoff_datetime', 0         2022-01-01 00:53:29
1         2022-01-01 00:42:07
2         2022-01-01 01:02:19
3         2022-01-01 00:35:23
4         2022-01-01 01:14:20
                  ...
2463926   2022-01-31 23:42:51
2463927   2022-01-31 23:55:01
2463928   2022-01-31 23:50:00
2463929   2022-01-31 23:48:45
2463930   2022-02-01 00:13:00
Name: tpep_dropoff_datetime, Length: 2463931, dtype: datetime64[ns])
('passenger_count', 0          2.0
1          1.0
2          1.0
3          1.0
4          1.0
          ...
2463926    NaN
2463927    NaN
2463928    NaN
2463929    NaN
2463930    NaN
Name: passenger_count, Length: 2463931, dtype: float64)
('trip_distance', 0          3.80
1          2.10
2          0.97
3          1.09
4          4.30
           ...
2463926    1.32
2463927    4.19
2463928    2.10
2463929    2.92
2463930    8.94
Name: trip_distance, Length: 2463931, dtype: float64)
('RatecodeID', 0          1.0
1          1.0
2          1.0
3          1.0
4          1.0
          ...
2463926    NaN
2463927    NaN
2463928    NaN
2463929    NaN
2463930    NaN
Name: RatecodeID, Length: 2463931, dtype: float64)
('store_and_fwd_flag', 0             N
1             N
2             N
3             N
4             N
           ...
2463926    None
2463927    None
2463928    None
2463929    None
2463930    None
Name: store_and_fwd_flag, Length: 2463931, dtype: object)
('PULocationID', 0          142
1          236
2          166
3          114
4           68
          ...
2463926     90
2463927    107
2463928    113
2463929    148
2463930    186
Name: PULocationID, Length: 2463931, dtype: int64)
('DOLocationID', 0          236
1           42
2          166
3           68
4          163
          ...
2463926    170
2463927     75
2463928    246
2463929    164
2463930    181
Name: DOLocationID, Length: 2463931, dtype: int64)
('payment_type', 0          1
1          1
2          1
3          2
4          1
          ..
2463926    0
2463927    0
2463928    0
2463929    0
2463930    0
Name: payment_type, Length: 2463931, dtype: int64)
('fare_amount', 0          14.50
1           8.00
2           7.50
3           8.00
4          23.50
           ...
2463926     8.00
2463927    16.80
2463928    11.22
2463929    12.40
2463930    25.48
Name: fare_amount, Length: 2463931, dtype: float64)
('extra', 0          3.0
1          0.5
2          0.5
3          0.5
4          0.5
          ...
2463926    0.0
2463927    0.0
2463928    0.0
2463929    0.0
2463930    0.0
Name: extra, Length: 2463931, dtype: float64)
('mta_tax', 0          0.5
1          0.5
2          0.5
3          0.5
4          0.5
          ...
2463926    0.5
2463927    0.5
2463928    0.5
2463929    0.5
2463930    0.5
Name: mta_tax, Length: 2463931, dtype: float64)
('tip_amount', 0          3.65
1          4.00
2          1.76
3          0.00
4          3.00
           ...
2463926    2.39
2463927    4.35
2463928    2.00
2463929    0.00
2463930    6.28
Name: tip_amount, Length: 2463931, dtype: float64)
('tolls_amount', 0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
          ...
2463926    0.0
2463927    0.0
2463928    0.0
2463929    0.0
2463930    0.0
Name: tolls_amount, Length: 2463931, dtype: float64)
('improvement_surcharge', 0          0.3
1          0.3
2          0.3
3          0.3
4          0.3
          ...
2463926    0.3
2463927    0.3
2463928    0.3
2463929    0.3
2463930    0.3
Name: improvement_surcharge, Length: 2463931, dtype: float64)
('total_amount', 0          21.95
1          13.30
2          10.56
3          11.80
4          30.30
           ...
2463926    13.69
2463927    24.45
2463928    16.52
2463929    15.70
2463930    35.06
Name: total_amount, Length: 2463931, dtype: float64)
('congestion_surcharge', 0          2.5
1          0.0
2          0.0
3          2.5
4          2.5
          ...
2463926    NaN
2463927    NaN
2463928    NaN
2463929    NaN
2463930    NaN
Name: congestion_surcharge, Length: 2463931, dtype: float64)
('airport_fee', 0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
          ...
2463926    NaN
2463927    NaN
2463928    NaN
2463929    NaN
2463930    NaN
Name: airport_fee, Length: 2463931, dtype: float64)